.UserCard {
  display: inline-flex;
  gap: 20px;
  max-width: 100%;
  text-align: center;
  border-radius: 16px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  border: 1px solid #64748b;
}

.UserBorder {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  max-width: 100%;
  border-radius: 16px;
  border: 1px solid #64748b;
  transition-duration: 500ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
